<!-- <div class="container">


   
<button class="btn btn-primary" (click)="logOut()">Logout</button>

<h2>peerId:{{peerId}}</h2>
<input type="text" id="mesageInput">
 <button (click)="sendMessage(message)" class="btn btn-primary">Send</button> -->
<!-- <div style="width: 400px; height: 300px; border: 2px solid" id="receivedData"></div>
<input type="text" placeholder="Peer Id" [(ngModel)]='peerIdShare'/> -->

<!-- <input type="text" name="" id="inputBox" [(ngModel)]='message' value=""> -->
<!-- 
<button class="button btn btn-primary" (click)="connectWithPeer()">Call Peer</button> -->

<!-- <button class="button btn btn-primary" (click)="sendMessage()">Send</button> -->
<!-- </div> -->

<div>
<h1> Chat application</h1>
<div>
  
    <button></button>
</div>
</div>